<h1>Results</h1>

<%= form_tag('/results') do %>
  <h4>Import These Products</h4>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag 'Import' %>
<% end %>

<% @products_hash['results'].each do |result| %>

  <h3>Product</h3>
  <ul>
    <% result.each do |key, value| %>
        <li><strong><%= key %></strong> : <%= value %></li>
    <% end %>
    <br>
  </ul>

<% end %>

<%= link_to '<< Back to search', search_path %>
