<h1><%= @product.name %></h1>

<ul>
  <li>Brand: <%= @product.brand %></li>
  <li>Category: <%= @product.category %></li>
  <li>Manufacturer: <%= @product.manufacturer %></li>
  <li>Price: <%= @product.price %></li>
  <li>UPC: <%= @product.upc %></li>
</ul>
